.mainlayout{
    display:grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-gap: 10px;
 
}



@media all and (max-width:600px){
 .mainlayout{
     display:block;
 }
 .player{
     width:330px !important;
     margin:10px 0px !important;
 }
}

.player{
    width:600px;
    margin:30px;
}

.mainlayout input{
    padding:4px;
    margin-right:3px;
    border: 1px solid #796b6b;
}

.mainlayout button{
    padding:4px;
    border:1px solid #eeeeee;
}

.searching_ui{
    text-align: center;
    padding:30px 0px 10px 0px;
}


.videoitem{
    background-color: #eeeeee;
    display: block;
    padding:10px 10px 0px 10px;
}

.videoitem .item{
    margin-bottom: 20px;
    border:0.5px solid blue;
    padding:10px;
    cursor: pointer;
    overflow-y: auto;
}

.item img{
    padding-left: 72px;
}

.discription{
    margin-top:0px;
    padding:0px 30px;
    background-color:lightcyan;
    color: black;
    height:75vh;
    width: auto;
    border: 1px solid #eeee;
}